	<div class="container">
	<table class="table table-striped">
	<thead>
		<div class="row">
		<span class="col-sm-6"><a href="#/menu/{{id}}">{{name}} </a> </span>
		
		<span class="glyphicon glyphicon-star col-sm-3" >{{rating}}</span><br></div></thead>
		<tbody><div class="row col-sm-8 ">{{des}}</div>

</tbody>
</table>
</div>
		<!-- span class="pull-right">
		<a href="" ng-click="delete(item)" class="cardClose"> &times;</a> delete is behavior 
	ng-if='(rating>0 && rating=rating-1)'"-->
	 
		<!--<img ng-src="images/{{pic}}.png" class="cardImage pull-left" />
		<a href="#/menu/{{name}}">{{name}} </a>
		<button type="button" ng-click="openEditForm(item)" class="pull-right glyphicon glyphicon-edit"></button>-->
	
