<div class="container login-bg">
  <!-- <h2>Enter Your Name and Address</h2> -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class=" modal-custom">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4><span class="glyphicon glyphicon-cutlery"></span> Bhukkad</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" ng-controller="DeliveryInfoController">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Your Name</label>
              <input type="text" class="form-control" ng-model="username"  placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="del_ad"><span class="glyphicon glyphicon-envelope"></span> Address</label>
              <input type="text" class="form-control" ng-model ="del_address" placeholder="Enter delivery address">
            </div>
            <button type="submit" ng-click="setInfo();redirectUrl();" class="btn btn-success btn-block"><span class="glyphicon glyphicon-list"></span> List Restaurants</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#myModal").modal();
  });
</script>