
  <div class="container"  ng-controller="RestaurantController" >
       
                        <form class="navbar-form navbar-right" >
                            <div class="form-group">
                                <label class="navbarText">Filter Restaurants</label><br />
                                     <div class="col-sm-5" >
                                        <label ng-repeat="cuisine in cuisines">
                                          {{cuisine[0].toUpperCase()}}{{cuisine.substr(1);}}<input type="checkbox" ng-model='restaurant.cuisines' ng-click="includeCuisine(cuisine); filterRestaurants()" > </br/>   

                                        </label>
                                </div>
                       </div>
                      </form>
                <div ng-execute="filterRestaurants()">      
            </div>
    </div>
    <div class="container" ng-controller="RestaurantListController">
     <div class="row">
      <div class="navbar-header" >
         
            <h3>
             {{restaurants.length}} restaurants found
            </h3>
         
       </div>
       </div>
        <div class="container">
        <table class="table table-striped">
          <div class="row">
              <td>
                <a href="#/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a href="#/" ng-click="sortType = 'rating'; sortReverse = !sortReverse">
               <span ng-show="sortType == 'rating' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'rating' && sortReverse" class="fa fa-caret-up"></span>
                Rating
                </a>
              </td>
              </div>
        </thead>
    </table>
      <div  ng-repeat="restaurant in restaurants | orderBy:sortType:sortReverse">
     
     <!-- <div class="row">
    <span><a href="#/menu/{{restaurant.id}}">{{restaurant.name}} </a> </span>
    
    <span class="glyphicon glyphicon-star">{{restaurant.rating}}</span></div><br>
    <div class="row">{{restaurant.description}}</div> <br/> pic="restaurants.pic" -->

       <list-view 
        id="restaurant.id"
        name="restaurant.name" 
        des="restaurant.description"
        rating="restaurant.rating"
        cuisine="restaurant.cuisine"
        >
        </list-view>
        <br/> 
        </div>
     
      </div>
      
         </div>
    <!-- container for CustomerListController -->

